<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Etiquetas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Etiquetas.Properties.Settings>
            <setting name="Impresora" serializeAs="String">
                <value />
            </setting>
            <setting name="ZplEtiqueta" serializeAs="String">
                <value>^XA \n ^FO20,30^A0N,40,38^FDDesc: #DESCRIPCION#^FS \n ^FO20,90^A0N,40,38^FDCodigo: #CODIGO#^FS \n ^FO20,150^A0N,40,38^FDCantidad: #CANTIDAD# U.^FS \n ^FO100,260^BY3 \n ^BCN,200,Y,N,N,N \n ^FD#CODIGOETIQUETA#^FS \n ^XZ</value>
            </setting>
        </Etiquetas.Properties.Settings>
    </userSettings>
	<connectionStrings>
		<add name="Escorial" connectionString="encrypted_connection_string" providerName="Npgsql"/>
	</connectionStrings>
</configuration>